asgiref==3.7.2
certifi==2023.5.7
charset-normalizer==3.1.0
cloudipsp==1.0.4
Django==3.2.16
idna==3.4
Pillow==9.5.0
pytz==2023.3
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
urllib3==2.0.2
YooMoney==0.1.0
