<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать</title>

    <link rel="stylesheet" href="{% static 'account/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body data-target="#navbar-main">
    {% include 'main/header.html' %}

    <div class="container">
        <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body">
                <div class="account-settings">
                    <div class="user-profile">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                        <div class="user-avatar">
                                {{ form.photo }}
                        </div>
                        <h4 class="user-name">{{ user.firstname }} {{ user.lastname }}</h5>
                        <h5 class="user-email">{{ user.email }}</h6>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 custom_col">
        <div class="card h-100">
            <div class="card-body">
                <div class="row gutters">
                    
                      
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="fullName">Имя пользователя</label>
                            {{form.username}}
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="eMail">Почта</label>
                            {{form.email}}
                        </div>
                    </div>
                </div>
                <div class="row gutters">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="Street">Имя</label>
                            {{form.first_name}}
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="ciTy">Фамилия</label>
                            {{form.last_name}}
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div>
                           <button type="submit" id="ne eby" name="submit" class="upd">Сохранить изменения</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
        </div>
        </div>
        </div>

<script src="/static/css/bootstrap.css {% static 'css/bootstrap.css' %}"></script>
</body>
</html>