<!doctype html>
<html lang="en">
	{% load static %}
  <head>
  	<title>Войти</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'auth/css/style.css' %}">

	</head>
	<body class="img js-fullheight">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Alena Gluhih</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center">Войти</h3>
		      	<form action="#" class="signin-form" method="post">
					{% for field in form_request.non_field_errors %} 
					<h3 class="text-center" style="color: red;"> {{ field }}</h3>
				{% endfor %}
					{% csrf_token %}
		      		<div class="form-group">
						{{ form.username }}
		      			<!--- <input type="text" class="form-control" placeholder="Имя пользователя" required>-->
		      		</div>
	            <div class="form-group">
					{{ form.password }}
	            <!---  <input id="password-field" type="password" class="form-control" placeholder="Пароль" required>-->
	          
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-2">Войти</button>
	            </div>
	            <div class="form-group d-md-flex">
								<div class="pr-4 w-10 text-md-right">
									<a href="{% url 'passwordreset' %}" style="color: #fff">Забыли пароль?</a>
								</div>
								<div class="pl-5 w-10 text-md-right">
									<a href="{% url 'registration' %}" style="color: #fff">Зарегестрироваться</a>
								</div>
	            </div>
	          </form>
		      </div>
				</div>
			</div>
		</div>
	</section>
	<script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

	</body>
</html>

