{% autoescape off %}
Мы получили запрос на сброс пароля вашей учетной записи для этого адреса электронной почты. Чтобы начать процесс сброса пароля для вашей учетной записи, нажмите на ссылку ниже.

{{ protocol }}://{{ domain }}{% url 'passwordchange' uidb64=uid token=token %}

Эту ссылку можно использовать только один раз. Если вам нужно снова сбросить пароль, посетите {{ protocol }}://{{domain}} и запросите еще один сброс.

Если вы не делали этого запроса, вы можете просто проигнорировать это письмо.

Алёна Глухих

{% endautoescape %}