<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Товары</title>

{% load static %}
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

<!-- Кастомки -->
<link href="{% static 'css/styles.css' %}" rel="stylesheet">
<link href=" {% static 'css/font-awesome.min.css' %}" rel="stylesheet">
<link href=" {% static 'css/animate-custom.css' %}" rel="stylesheet"> 
<script src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/modernizr.custom.js' %}"></script>

</head>
<body data-target="#navbar-main">
  {% include 'main/header.html' %}
      
  
      <div class="container conts">
        <h1>{{ products.category}}</h1>
      </div>

   
    <div class="container mt-5 cont">

        <div class="row">
          {% for product in products %}
          <div class="col-md-4">
            <div class="product">
              <div class="image">
                <a href="{% url 'single' product.id %}"><img src="{{ product.imageURL }}" width="300" height="400" alt=""></a>
              </div>
      
              <div class="info">
                <a href="{% url 'single' product.id %}"><h3>{{ product.title }}</h3></a>

                <ul class="rating">
                    <li><ion-icon name="star"></ion-icon></li>
                    <li><ion-icon name="star"></ion-icon></li>
                    <li><ion-icon name="star"></ion-icon></li>
                    <li><ion-icon name="star"></ion-icon></li>
                    <li><ion-icon name="star-half"></ion-icon></li>
                    
                </ul>
      
                <div class="info-price">
                  <span class="price">{{ product.price }} <small>₽</small>
                  </span>
                    <a href="   {% url 'cart_add' product.id %}"><button class="add-to-cart"><ion-icon name="cart"></ion-icon></button></a>
                </div>
      
              </div>
              
            </div>
            

            
          </div>
          {% endfor %}

          
      
        </div>
      
      </div>

      
      <!-- Bootstrap core JavaScript
     
    ================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 

<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script> 
<script type="text=/javascript" src="{% static 'js/smoothscroll.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/custom-scripts.js' %}"></script>



<!-- Icons scripts -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>